body {
	background-color:grey;
}
div.holder {
	background-color:orange;
}
div.info {
	background-color:red;
	float:none;
	clear:both;
	font:Times New Roman;
	text-align:center;
}
div.content {
	background-color:lightblue;
	float:none;
	clear:both;
	text-align:center;
}
div.nav {
	background-color:grey;
	clear:none;
	float:none;
	text-align:center;
}
a.link {
	border-style: solid;
	color:blue;
	background-color:white;
}
p.intro {
	float:both;
	clear:both;
	
}
p.body {
	float:left;
	clear:left;
	text-align:left;
	font-family:Times New Roman;
}
div.imagecenter {
	text-align:center;
	float:none;
	clear:none;
}