body {
	background-color:grey;
}
div.holder {
	background-color:orange;
}
div.info {
	background-color:red;
	float:none;
	clear:both;
	font:Times New Roman;
	text-align:center;
}
div.content {
	background-color:lightblue;
	float:none;
	clear:both;
	text-align:center;
}